/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap");
.bold {
  font-weight: 900;
  color: #fff;
}

/* == Global == */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: 'Monsterrat', sans-serif;
  line-height: 1.6;
}

html,
body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  min-height: 100%;
}

h1 {
  font-weight: 900;
}

h2 {
  font-weight: 700;
}

a {
  text-decoration: none;
}

.a--button {
  position: relative;
  padding: 20px 0;
}

/* Buttons */
.button {
  position: relative;
  cursor: pointer;
  background: none;
  border: none;
  color: #000;
  font-weight: 700;
}

.button--large {
  padding: 20px 80px;
  background: -webkit-gradient(linear, left bottom, left top, from(#ff3c3c), color-stop(50%, #ff3c3c), color-stop(#fffc3c), color-stop(50%), to(#fffc3c));
  background: linear-gradient(to top, #ff3c3c 0%, #ff3c3c 50%, #fffc3c, 50%, #fffc3c 100%);
  background-size: 300% 300%;
  margin-top: 100px;
  font-size: 1.7em;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.button--large:hover {
  background-position-y: 100px;
  color: #fff;
}

.button__a--large {
  position: relative;
  padding: 40px 0;
}

/* == Layout == */
/* Header */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  font-family: 'Monsterrat', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 200px;
  -webkit-box-shadow: 0 3px 10px -3px #0000004a;
          box-shadow: 0 3px 10px -3px #0000004a;
  background: #fff;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.header__title {
  cursor: pointer;
  font-size: 2.2em;
  text-decoration: none;
  color: #000;
  margin-right: 60px;
}

.header__nav {
  margin-left: auto;
}

.header__nav__item {
  font-size: 1em;
  cursor: pointer;
  padding: 31px 30px;
  text-decoration: none;
  color: #000;
}

.header__nav__item:hover, .header__nav__item:focus {
  text-decoration: underline;
}

.header__mobile {
  margin-left: auto;
}

.header__mobile #hamburger:checked ~ .hamburger div {
  background: #fff;
}

.header__mobile #hamburger:checked ~ .hamburger div:nth-child(1) {
  width: 0;
  margin-left: auto;
}

.header__mobile #hamburger:checked ~ .hamburger div:nth-child(2) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: absolute;
  top: 17px;
}

.header__mobile #hamburger:checked ~ .hamburger div:nth-child(3) {
  position: absolute;
  top: 17px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header__mobile #hamburger:checked ~ .header__mobile__nav {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.header__mobile__nav {
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  position: absolute;
  -webkit-transform: translateY(-500px);
          transform: translateY(-500px);
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #363636;
  -webkit-box-shadow: 0 3px 10px -3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 10px -3px rgba(0, 0, 0, 0.3);
}

.header__mobile__nav__item {
  width: 100%;
  height: 100%;
  padding: 50px 0;
  text-align: center;
  font-size: 1.3em;
  font-weight: 900;
  color: #fff;
}

.header__mobile__nav__item:hover, .header__mobile__nav__item:focus {
  background: #5c5c5c;
}

.header .hamburger {
  cursor: pointer;
  position: relative;
  display: sticky;
  right: 0;
  width: 40px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 99;
}

.header .hamburger div {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  width: 40px;
  height: 6px;
  border-radius: 20px;
  background: #000;
}

.header .hamburger div:nth-child(1) {
  width: 30px;
  margin-left: auto;
  margin-bottom: auto;
}

.header .hamburger div:nth-child(3) {
  margin-top: auto;
}

/* Main */
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 110px;
  width: 100%;
  margin-bottom: 50px;
}

.main .greeting {
  position: relative;
  width: 100%;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .greeting__verse {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1;
  color: #fff;
  padding: 0 200px;
  background: #0000008f;
  line-height: 1;
}

.main .greeting__verse__title {
  font-size: 4.3em;
  margin-bottom: 20px;
}

.main .greeting__verse__description {
  line-height: 1.3;
  font-size: 1.3em;
  font-weight: 400;
  color: #cccccc;
}

.main .greeting__img-box {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main .greeting__img-box__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main .home__articles {
  max-width: 1200px;
  padding: 20px;
  margin: 100px auto;
}

.main .home__articles__verse {
  line-height: 1;
  margin-bottom: 50px;
}

.main .home__articles__verse__title {
  font-size: 3.3em;
  font-weight: 900;
  margin-bottom: 20px;
}

.main .home__articles__verse__description {
  font-size: 1.1em;
  margin-left: 20px;
}

.main .list {
  max-width: 1200px;
  margin: 100px auto;
}

.main .list__verse {
  margin-bottom: 50px;
  line-height: 1.1;
}

.main .list__verse__head {
  font-size: 3.5em;
  font-weight: 900;
}

.main .list__verse__smoll {
  font-size: 1.7em;
}

.main .selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main .selection .selection__item {
  position: relative;
  cursor: pointer;
  width: 300px;
  margin: 10px 40px;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.main .selection .selection__item:hover .selection__item__image-box__image {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.main .selection .selection__item__title {
  position: absolute;
  top: 0;
  color: #fff;
  font-size: 1.8em;
  z-index: 2;
  max-width: 140px;
  margin: 30px;
  font-weight: 900;
}

.main .selection .selection__item__image-box {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.main .selection .selection__item__image-box__filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: .5;
  background: #000;
}

.main .selection .selection__item__image-box__image {
  -webkit-transition: -webkit-transform 200ms ease-out;
  transition: -webkit-transform 200ms ease-out;
  transition: transform 200ms ease-out;
  transition: transform 200ms ease-out, -webkit-transform 200ms ease-out;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main .view {
  max-width: 800px;
  margin: 100px auto;
}

.main .view p {
  line-height: 1.7;
}

.main .view__title {
  font-size: 2em;
  margin-bottom: 50px;
  font-weight: 900;
}

.main .view__section {
  margin: 20px;
  margin-top: 50px;
}

.main .view__section__title {
  font-size: 1.3em;
  font-weight: 700;
  color: #4b4b4b;
  margin-bottom: 20px;
}

.main .view__return {
  cursor: pointer;
  font-size: 1.3em;
  margin-top: 40px;
  color: #9b9b9b;
}

.main .view__return::before {
  content: "<";
  margin-right: 10px;
}

/* Footer */
.footer {
  font-family: 'Monsterrat', sans-serif;
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: auto;
  padding: 100px 200px;
  border-top: solid 1px rgba(0, 0, 0, 0.1);
}

.footer__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 100px;
}

.footer__section__title {
  font-size: 1.5em;
  font-weight: 900;
  margin-bottom: 20px;
  margin-left: -10px;
}

.footer__nav__item {
  color: #000;
  padding: 10px 0;
}

.footer__nav__item:hover {
  text-decoration: underline;
}

@media screen and (max-width: 800px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  /* Header */
  .header {
    padding: 20px;
  }
  .header--disappear {
    top: 0;
  }
  /* Home */
  .home .greeting__verse {
    padding: 40px;
  }
  .home__articles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home__articles__verse {
    text-align: center;
  }
  .home__articles__verse__description {
    margin: 0 !important;
  }
  /* List */
  .list__verse {
    text-align: center;
  }
  /* View */
  .view {
    padding: 0 20px;
  }
  .view__title {
    text-align: center;
  }
  /* Footer */
  .footer {
    padding: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__copyright {
    margin-top: 30px;
  }
}

@media screen and (min-width: 800px) {
  .desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mobile {
    display: none;
  }
  .header--disappear {
    top: -200px;
  }
}
/*# sourceMappingURL=main.css.map */