/* Fonts */

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap")

.bold
    font-weight: 900
    color: #fff

/* == Global == */

*
    box-sizing: border-box
    scroll-behavior: smooth
    margin: 0
    padding: 0
    font-family: 'Monsterrat', sans-serif
    line-height: 1.6

html,
body
    position: relative
    display: flex
    flex-direction: column
    height: 100%
    min-height: 100%

h1
    font-weight: 900

h2
    font-weight: 700

a
    text-decoration: none

.a--button
    position: relative
    padding: 20px 0

/* Buttons */

.button
    position: relative
    cursor: pointer
    background: none
    border: none
    color: #000
    font-weight: 700

    &--large
        padding: 20px 80px
        // background: #fffc3c
        background: linear-gradient(to top, #ff3c3c 0%, #ff3c3c 50%, #fffc3c, 50%, #fffc3c 100%)
        background-size: 300% 300%
        margin-top: 100px
        font-size: 1.7em
        transition: all 200ms ease-out
        &:hover
            background-position-y: 100px
            color: #fff

    &__a--large
        position: relative
        padding: 40px 0


/* == Layout == */

/* Header */

.header
    position: fixed
    top: 0
    width: 100%
    z-index: 99
    font-family: 'Monsterrat', sans-serif
    display: flex
    align-items: center
    padding: 20px 200px
    box-shadow: 0 3px 10px -3px #0000004a
    background: #fff
    transition: all 300ms

    &__title
        cursor: pointer
        font-size: 2.2em
        text-decoration: none
        color: #000
        margin-right: 60px

    &__nav
        margin-left: auto

        &__item
            font-size: 1em
            cursor: pointer
            padding: 31px 30px
            text-decoration: none
            color: #000
            &:hover,
            &:focus
                text-decoration: underline

    &__mobile
        margin-left: auto

        #hamburger:checked ~ .hamburger div
            background: #fff
            &:nth-child(1)
                width: 0
                margin-left: auto
            &:nth-child(2)
                transform: rotate(-45deg)
                position: absolute
                top: 17px
            &:nth-child(3)
                position: absolute
                top: 17px
                transform: rotate(45deg)


        #hamburger:checked ~ .header__mobile__nav
            transform: translateY(0)

        &__nav
            transition: transform 300ms ease-in-out
            position: absolute
            transform: translateY(-500px)
            top: 0
            left: 0
            width: 100%
            display: flex
            justify-content: center
            align-items: center
            flex-direction: column
            background: #363636
            box-shadow: 0 3px 10px -3px rgba(0,0,0,.3)
            &__item
                width: 100%
                height: 100%
                padding: 50px 0
                text-align: center
                font-size: 1.3em
                font-weight: 900
                color: #fff
                &:hover,
                &:focus
                    background: #5c5c5c

    .hamburger
        cursor: pointer
        position: relative
        display: sticky
        right: 0
        width: 40px
        height: 30px
        display: flex
        flex-direction: column
        z-index: 99

        div
            transition: all 300ms ease-in-out
            width: 40px
            height: 6px
            border-radius: 20px
            background: #000
            &:nth-child(1)
                width: 30px
                margin-left: auto
                margin-bottom: auto
            &:nth-child(3)
                margin-top: auto

/* Main */

.main
    display: flex
    flex-direction: column
    margin-top: 110px
    width: 100%
    margin-bottom: 50px

    .greeting
        position: relative
        width: 100%
        height: 450px
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center

        &__verse
            position: relative
            width: 100%
            height: 100%
            display: flex
            justify-content: center
            flex-direction: column
            z-index: 1
            color: #fff
            padding: 0 200px
            background: #0000008f
            line-height: 1

            &__title
                font-size: 4.3em
                margin-bottom: 20px

            &__description
                line-height: 1.3
                font-size: 1.3em
                font-weight: 400
                color: #cccccc

        &__img-box
            position: absolute
            overflow: hidden
            top: 0
            left: 0
            width: 100%
            height: 100%
            &__image
                width: 100%
                height: 100%
                object-fit: cover

    .home
        &__articles
            max-width: 1200px
            padding: 20px
            margin: 100px auto

            &__verse
                line-height: 1
                margin-bottom: 50px

                &__title
                    font-size: 3.3em
                    font-weight: 900
                    margin-bottom: 20px

                &__description
                    font-size: 1.1em
                    margin-left: 20px


    .list
        max-width: 1200px
        margin: 100px auto
        &__verse
            margin-bottom: 50px
            line-height: 1.1
            &__head
                font-size: 3.5em
                font-weight: 900
            &__smoll
                font-size: 1.7em

    .selection
        display: flex
        justify-content: center
        flex-wrap: wrap

        .selection__item
            position: relative
            cursor: pointer
            width: 300px
            margin: 10px 40px
            transition: all 200ms
            &:hover
                .selection__item__image-box__image
                    transform: scale(1.1)

            &__title
                position: absolute
                top: 0
                color: #fff
                font-size: 1.8em
                z-index: 2
                max-width: 140px
                margin: 30px
                font-weight: 900

            &__image-box
                position: relative
                width: 100%
                height: 400px
                overflow: hidden

                &__filter
                    position: absolute
                    top: 0
                    left: 0
                    width: 100%
                    height: 100%
                    z-index: 1
                    opacity: .5
                    background: #000

                &__image
                    transition: transform 200ms ease-out
                    position: absolute
                    left: 0
                    width: 100%
                    height: 100%
                    object-fit: cover
    .view
        max-width: 800px
        margin: 100px auto

        p
            line-height: 1.7

        &__title
            font-size: 2em
            margin-bottom: 50px
            font-weight: 900

        &__section
            margin: 20px
            margin-top: 50px
            &__title
                font-size: 1.3em
                font-weight: 700
                color: #4b4b4b
                margin-bottom: 20px

        &__return
            cursor: pointer
            font-size: 1.3em
            margin-top: 40px
            color: #9b9b9b
            &::before
                content: "<"
                margin-right: 10px


/* Footer */

.footer
    font-family: 'Monsterrat', sans-serif
    margin-top: auto
    display: flex
    width: 100%
    margin-top: auto
    padding: 100px 200px
    border-top: solid 1px rgba(0, 0, 0, .1)

    &__section
        display: flex
        flex-direction: column
        margin-right: 100px

        &__title
            font-size: 1.5em
            font-weight: 900
            margin-bottom: 20px
            margin-left: -10px

    &__nav__item
        color: #000
        padding: 10px 0
        &:hover
            text-decoration: underline

@media screen and (max-width: 800px)
    .desktop
        display: none
    .mobile
        display: block

    /* Header */
    .header
        padding: 20px

    .header--disappear
        top: 0

    /* Home */
    .home
        .greeting__verse
            padding: 40px
        &__articles
            display: flex
            flex-direction: column
            align-items: center
            &__verse
                text-align: center
                &__description
                    margin: 0 !important

    /* List */
    .list__verse
        text-align: center

    /* View */
    .view
        padding: 0 20px
        &__title
            text-align: center

    /* Footer */
    .footer
        padding: 40px
        flex-direction: column
        &__copyright
            margin-top: 30px

@media screen and (min-width: 800px)
    .desktop
        display: flex
    .mobile
        display: none

    .header--disappear
        top: -200px
