<template>
  <div class="home">
      <div class="greeting">
        <div class="greeting__verse">
          <h1 class="greeting__verse__title">Welcome to<br> <span class="bold">Jnewzz</span></h1>
          <h2 class="greeting__verse__description">From 1982 to now, to make sure you <br>know more about <span class="bold">Jazz</span></h2>
        </div>

        <div class="greeting__img-box">
          <img class="greeting__img-box__image" src="https://i.ytimg.com/vi/PJKA6qcfQ7Q/maxresdefault.jpg" art="A jazz band">
        </div>
      </div>

      <div class="home__articles">
        <div class="home__articles__verse">
          <h1 class="home__articles__verse__title">Recent articles</h1>
          <h2 class="home__articles__verse__description">From what our team found to your knowledge</h2>
        </div>

        <Articlelist />
        <router-link to="/articles">
          <button class="button button--large">View more</button>
      </router-link>
      </div>
  </div>
</template>

<script>
import Articlelist from "../components/Articlelist.vue"

export default {
  name: "Home",
  components: {
    Articlelist
  }
}
</script>
