<template>
    <div class="list">
        <div class="list__verse">
            <h1 class="list__verse__head">A list of articles</h1>
            <h2 class="list__verse__smoll">in recent order</h2>
        </div>

        <Articlelist />
    </div>
</template>

<script>
import Articlelist from '../components/Articlelist.vue'

export default {
    name: "list",
    components: {
        Articlelist
    }
}
</script>
