<template>
    <article class="view">
        <h1 class="view__title">{{ article.title }}</h1>
        <div v-bind:key="section.id" class="view__section" v-for="section in this.article.sections">
            <h2 class="view__section__title">{{ section.title }}</h2>
            <p class="view__content">{{ section.content }}</p>
        </div>
        <router-link to="/articles">
            <button class="button view__return">Return to list</button>
        </router-link>
    </article>
</template>

<script>
export default {
    data() {
        return {
            requested_article: this.$route.params.id,
            article: [],
            articles: [
                {
                    id: 1,
                    title: "Kamasi Washington’s Dynamic Apollo Set",
                    sections: [
                        {
                            id: 1,
                            title: 'Khalid x Disclosure, ‘Know Your Worth’',
                            content: 'The sequel to “Talk,” Khalid’s magnificently tentative 2019 collaboration with the production team Disclosure, feels a little too inevitable. There’s nothing really wrong with “Know Your Worth,” Khalid’s brotherly self-help advice to someone who’s being mistreated and underestimated (though the cutesy vocal sample of “What!” does get annoying). But after the opening line, “He keeps leaving you for dead,” there’s nothing — a plot twist, a texture shift, a contrasty bridge — to challenge anyone’s expectations. JON PARELES'
                        },
                        {
                            id: 2,
                            title: 'Jhay Cortez featuring Anuel AA and J Balvin, ‘Medusa’',
                            content: 'A slickly appealing too-big-to-fail collaboration between the rising reggaeton singer Jhay Cortez — one of the writers of the world-beating Cardi B hit “I Like It” — and the established stars Anuel AA and J Balvin. Cortez’s voice is almost airy, a sharp contrast to Anuel’s gruff antics and Balvin’s clinical poise. CARAMANICA'
                        }
                    ]
                },
                {
                    id: 2,
                    title: 'Kamasi Washington’s Dynamic Apollo Set',
                    sections: [
                        {
                            title: 'Khalid x Disclosure, ‘Know Your Worth’',
                            content: 'The sequel to “Talk,” Khalid’s magnificently tentative 2019 collaboration with the production team Disclosure, feels a little too inevitable. There’s nothing really wrong with “Know Your Worth,” Khalid’s brotherly self-help advice to someone who’s being mistreated and underestimated (though the cutesy vocal sample of “What!” does get annoying). But after the opening line, “He keeps leaving you for dead,” there’s nothing — a plot twist, a texture shift, a contrasty bridge — to challenge anyone’s expectations. JON PARELES'
                        },
                        {
                            title: 'Jhay Cortez featuring Anuel AA and J Balvin, ‘Medusa’',
                            content: 'A slickly appealing too-big-to-fail collaboration between the rising reggaeton singer Jhay Cortez — one of the writers of the world-beating Cardi B hit “I Like It” — and the established stars Anuel AA and J Balvin. Cortez’s voice is almost airy, a sharp contrast to Anuel’s gruff antics and Balvin’s clinical poise. CARAMANICA'
                        }
                    ]
                }
            ]
        }
    },
    created() {
        this.articles.forEach(e => {
            if (e.id == this.requested_article) {
                this.article = e
                this.image = e.image
            }
        });
    },
}
</script>
