<template>
    <div class="selection">
        <router-link to="/article/1">
            <article class="selection__item">
                <div class="selection__item__image-box">
                    <div class="selection__item__image-box__filter"></div>
                    <img class="selection__item__image-box__image" src="https://static01.nyt.com/images/2020/02/07/arts/07playlist/merlin_140140659_f42eafb5-8641-460a-8e4c-19cc4133d431-superJumbo.jpg?quality=90&auto=webp" alt="article image">
                </div>
                <h3 class="selection__item__title">Kamasi Washington’s Dynamic Apollo</h3>
            </article>
        </router-link>

        <router-link to="/article/2">
            <article class="selection__item">
                <div class="selection__item__image-box">
                    <div class="selection__item__image-box__filter"></div>
                    <img class="selection__item__image-box__image" src="https://cdn.theatlantic.com/thumbor/PRtPLdD5ZNtQf45HPbAoZivvAQE=/6x157:2997x1840/720x405/media/img/2018/02/AP_381223050/original.jpg" alt="article image">
                </div>
                <h3 class="selection__item__title">Jazz: A Musical Discussion</h3>
            </article>
        </router-link>

        <router-link to="/article/3">
            <article class="selection__item">
                <div class="selection__item__image-box">
                    <div class="selection__item__image-box__filter"></div>
                    <img class="selection__item__image-box__image" src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fimg.thedailybeast.com%2Fimage%2Fupload%2Fv1492186988%2Farticles%2F2015%2F01%2F25%2Fthe-day-carlos-santana-met-miles-davis%2F150123-santana-miles-davis-tease_fagtbf.jpg&f=1&nofb=1" alt="article image">
                </div>
                <h3 class="selection__item__title">Jazz, Hot and Cold</h3>
            </article>
        </router-link>
    </div>
</template>
