<template>
    <footer class="footer">
        <nav class="footer__section">
            <span class="footer__section__title">Destinations</span>
            <router-link to="/" class="footer__nav__item">Home</router-link>
            <router-link to="/articles" class="footer__nav__item">Articles</router-link>
        </nav>

        <div class="footer__section">
            <span class="footer__copyright">© 2020 Jazz</span>
        </div>
    </footer>
</template>