<template>
    <header class="header">
        <router-link to="/" class="header__title">Jnewzz</router-link>
        <nav class="header__nav desktop">
            <router-link to="/" class="header__nav__item">Home</router-link>
            <router-link to="/articles" class="header__nav__item">Articles</router-link>
        </nav>

        <div class="header__mobile mobile">
            <input type="checkbox" id="hamburger" style="display: none">
            <label class="hamburger header__mobile__hamburger" for="hamburger">
                <div></div>
                <div></div>
                <div></div>
            </label>
            <nav class="header__mobile__nav">
                <router-link to="/" class="header__mobile__nav__item">Home</router-link>
                <router-link to="/articles" class="header__mobile__nav__item">Articles</router-link>
            </nav>
        </div>
    </header>
</template>
