<template>
  <div id="app">
    <Header />
    <main class="main">
      <router-view />
    </main>
    <Footer />
  </div>
</template>

<script>
import Header from './components/Header.vue'
import Footer from './components/Footer.vue'

export default {
  name: 'app',
  components: {
    Header,
    Footer
  },
  data() {
    return {
      lastScrollTop: 0
    }
  },
  methods: {
    headerStyle: function () {
      let disappear_class = "header--disappear"
      let header = document.querySelector('.header')
      let disappear = (window.scrollY > this.lastScrollTop && window.scrollY > 150) ? true : false

      this.lastScrollTop = window.scrollY

      if (disappear) {
        if (header.classList.length < 2) {
          header.classList.add(disappear_class)
        }
        return
      }

      if (header.classList.length > 1) {
        header.classList.remove(disappear_class)
      }
    }
  },
  created() {
    window.addEventListener('scroll', this.headerStyle)
  },
}
</script>

<style>
  @import "./assets/css/main.css";
  @import "./assets/css/reset.css";

  html {
    min-height: 100%;
  }
  body,
  #app {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
</style>
